body{
    font-family: Arial;
}

.welcome {
    padding-left: 80px;
    padding-right: 40px;
}
/* .home-content {
    position: relative;
    width: 1105px;
    height: 454px;  
    border: 1px solid black;
} */
/* 
.home-content h2{
    padding-left: 552px;
    padding-top: 227px;
} */

/* .home-lessons {
    padding: 20px;
    border: 1px solid black;
    float: left;
    height: 50%;
} */

/* .home-progress {
    padding: 20px;
    position: relative;
    float: right;
    width: 1105px;
    height: 50%;  
    border: 1px solid black;
} */

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    text-align: center;
  }

  .css-s3sxxk-MuiPaper-root-MuiCard-root {
    background-color: #8AC343;
    color: white;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1pxrgba(0,0,0,0.2),0px 1px 1px 0pxrgba(0,0,0,0.14),0px 1px 3px 0pxrgba(0,0,0,0.12);
    overflow: hidden;
    width: 87vw;
}