body{
    font-family: Arial;
}

.welcome {
    padding-top: 140px;
    padding-left: 3vw;
    display: flex;
}

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    padding-left: 5vw;
    /* padding-left: 100 px; */
    
  }
  .child {
    display: inline-block;
    padding: 5vh 5vh 5vw 5vw;
    vertical-align: middle;
    text-align: center;
    /* padding-left: 100px; */
  }

  .css-s3sxxk-MuiPaper-root-MuiCard-root {
    background-color: #8ac34330;
    color: white;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1pxrgba(0,0,0,0.2),0px 1px 1px 0pxrgba(0,0,0,0.14),0px 1px 3px 0pxrgba(0,0,0,0.12);
    overflow: hidden;
    width: 91vw;
}

@media screen and (max-width: 420px)
{
    .css-1ig0swr-MuiPaper-root-MuiCard-root {
        width: 80vw;
    }
    .css-nmbwc3-MuiTable-root {
        width: 80vw;
    }

    .child {
        width: 100%;
    }
}