.profile .avatar{
    margin: 1rem;
    /* padding: 2rem 2rem; */
    text-align: center;
  }

.profile .profile-info{
    display: inline-block;
    
}

.container {
  padding-top: 10%;
}

.parent {
  float:left;
  margin: 1rem; 
  padding: 10px 10px;
  text-align: center;
}
.child {
  display: inline-block; 
  padding: 10px 10px;
  vertical-align: middle;
  text-align: left;
  
}

.css-1cdh5co-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  width: 65vw;
  height: 50vh;
}

.css-1ms4lia-MuiPaper-root-MuiCard-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);

  width: 30vw;
  height: 50vh;
}


/* .profile .parent h1 {
   color:rgb(40, 68, 146); 
} */

@media only screen and (max-width: 420px) {
  .container {
      padding-top: 30%;
  }
  .css-2arrk-MuiPaper-root-MuiCard-root {
    width: 70vw;
  }
  .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    width: 70vw;
  }
}