.resources h3{
    margin-top: 150px;
    color: white;
    background-color: #324258;
    border-radius: 5px;
    width: 23%;
    height: 10%;
    margin-left: 37.5%;
}

.resources h3 p{
    text-decoration: underline;
}

.resources .cards{
    display: flex;
    padding-left: 50px;
    gap: 5px;
}

@media screen and (max-width: 420px) {
    .resources h3{
        width: 70%;
        margin-left: 15%;
    }

    .resources .cards{
        padding-left: 10px;
        display: inline;
        float: center;
        width: auto;
    }

    .resource .cards .card1[width]{
        width: 95vw !important;
    }

    .css-1gp1lk7-MuiPaper-root-MuiCard-root{
        width: 95vw !important;
    }
}
